body,td,th {
	font-family: tahoma;
	font-size: 11px;
	color: #666565;
	vertical-align: top;	
	line-height:11px;
}
img{border:0;}
a {
	font-family: tahoma;
	font-size: 11px;	
	color: #2E82B3;		
}
a:visited {
	color: #2E82B3;
}
a:hover {
	color: #2E82B3;
}
a:active {
	color: #2E82B3;	
}
.style-r{
	color:#F26522;
}


