BODY {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: "Bitstream Vera Sans", Tahoma, Helvetica, Verdana, Arial, sans-serif
}
TD {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: "Bitstream Vera Sans", Tahoma, Helvetica, Verdana, Arial, sans-serif
}
TH {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: "Bitstream Vera Sans", Tahoma, Helvetica, Verdana, Arial, sans-serif
}
IMG {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
A:link {
	FONT-SIZE: 11px; COLOR: blue; FONT-FAMILY: "Bitstream Vera Sans", Tahoma, Helvetica, Verdana, Arial, sans-serif; TEXT-DECORATION: underline
}
A:visited {
	FONT-SIZE: 11px; COLOR: blue; FONT-FAMILY: "Bitstream Vera Sans", Tahoma, Helvetica, Verdana, Arial, sans-serif; TEXT-DECORATION: underline
}
A:hover {
	FONT-SIZE: 11px; COLOR: black; FONT-FAMILY: "Bitstream Vera Sans", Tahoma, Helvetica, Verdana, Arial, sans-serif; TEXT-DECORATION: underline
}
A.big:link {
	FONT-SIZE: 11px; COLOR: blue; FONT-FAMILY: "Bitstream Vera Sans", Tahoma, Helvetica, Verdana, Arial, sans-serif; TEXT-DECORATION: underline
}
A.big:visited {
	FONT-SIZE: 11px; COLOR: blue; FONT-FAMILY: "Bitstream Vera Sans", Tahoma, Helvetica, Verdana, Arial, sans-serif; TEXT-DECORATION: underline
}
A.big:hover {
	FONT-SIZE: 11px; COLOR: black; FONT-FAMILY: "Bitstream Vera Sans", Tahoma, Helvetica, Verdana, Arial, sans-serif; TEXT-DECORATION: underline
}
A.small:link {
	FONT-SIZE: 10px; COLOR: blue; FONT-FAMILY: "Bitstream Vera Sans", Tahoma, Helvetica, Verdana, Arial, sans-serif; TEXT-DECORATION: underline
}
A.small:visited {
	FONT-SIZE: 10px; COLOR: blue; FONT-FAMILY: "Bitstream Vera Sans", Tahoma, Helvetica, Verdana, Arial, sans-serif; TEXT-DECORATION: underline
}
A.small:hover {
	FONT-SIZE: 10px; COLOR: black; FONT-FAMILY: "Bitstream Vera Sans", Tahoma, Helvetica, Verdana, Arial, sans-serif; TEXT-DECORATION: underline
}
A.leftnav:link {
	FONT-SIZE: 9px; COLOR: #0c42b1; FONT-FAMILY: "Bitstream Vera Sans", Tahoma, Helvetica, Verdana, Arial, sans-serif; TEXT-DECORATION: none
}
A.leftnav:visited {
	FONT-SIZE: 9px; COLOR: #0c42b1; FONT-FAMILY: "Bitstream Vera Sans", Tahoma, Helvetica, Verdana, Arial, sans-serif; TEXT-DECORATION: none
}
A.leftnav:hover {
	FONT-SIZE: 9px; COLOR: black; FONT-FAMILY: "Bitstream Vera Sans", Tahoma, Helvetica, Verdana, Arial, sans-serif; TEXT-DECORATION: none
}
A.smallwhitelinks:link {
	FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY: "Bitstream Vera Sans", Tahoma, Helvetica, Verdana, Arial, sans-serif; TEXT-DECORATION: none
}
A.smallwhitelinks:visited {
	FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY: "Bitstream Vera Sans", Tahoma, Helvetica, Verdana, Arial, sans-serif; TEXT-DECORATION: none
}
A.smallwhitelinks:hover {
	FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY: "Bitstream Vera Sans", Tahoma, Helvetica, Verdana, Arial, sans-serif; TEXT-DECORATION: underline
}
.textfooter {
	FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY: "Bitstream Vera Sans", Tahoma, Helvetica, Verdana, Arial, sans-serif
}
.textBlack {
	FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: "Bitstream Vera Sans", Tahoma, Helvetica, Verdana, Arial, sans-serif
}
.textBlackSmall {
	FONT-SIZE: 9px; COLOR: #616162; FONT-FAMILY: "Bitstream Vera Sans", Tahoma, Helvetica, Verdana, Arial, sans-serif
}
.textBlackBold {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: "Bitstream Vera Sans", Tahoma, Helvetica, Verdana, Arial, sans-serif
}
.textHead {
	FONT-SIZE: 11px; COLOR: #1c1b1b; FONT-FAMILY: "Bitstream Vera Sans", Tahoma, Helvetica, Verdana, Arial, sans-serif
}
.textHeadRedBold {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #c10303; FONT-FAMILY: "Bitstream Vera Sans", Tahoma, Helvetica, Verdana, Arial, sans-serif
}
.textHeadBold {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #1c1b1b; FONT-FAMILY: "Bitstream Vera Sans", Tahoma, Helvetica, Verdana, Arial, sans-serif
}
.textMediumColor {
	FONT-SIZE: 10px; COLOR: #780202
}
.textHeadColor {
	FONT-SIZE: 11px; COLOR: #c10303
}
TD.leftnav {
	PADDING-LEFT: 8px; FONT-SIZE: 9px; VERTICAL-ALIGN: middle; BORDER-BOTTOM: #a8a7a7 1px solid; BORDER-COLLAPSE: collapse; HEIGHT: 23px
}
.contentTD {
	PADDING-RIGHT: 9px; BACKGROUND-POSITION: left top; PADDING-LEFT: 9px; PADDING-BOTTOM: 15px; PADDING-TOP: 7px; BACKGROUND-REPEAT: no-repeat
}
.contentheadDIV {
	PADDING-RIGHT: 12px; PADDING-LEFT: 7px; PADDING-BOTTOM: 12px; PADDING-TOP: 4px; FONT-FAMILY: "Bitstream Vera Sans", Tahoma, Helvetica, Verdana, Arial, sans-serif
}
.contentDIV {
	PADDING-RIGHT: 12px; PADDING-LEFT: 7px; PADDING-BOTTOM: 8px; PADDING-TOP: 4px
}
.tm {
	FONT-WEIGHT: normal; FONT-SIZE: 5pt; FONT-FAMILY: "Bitstream Vera Sans", Tahoma, Helvetica, Verdana, Arial, sans-serif
}
.redtext {
	FONT-WEIGHT: bold; FONT-SIZE: 9px; COLOR: #a70606; FONT-FAMILY: "Bitstream Vera Sans", Tahoma, Helvetica, Verdana, Arial, sans-serif; TEXT-ALIGN: center
}
.textHeadRed {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #a70606; FONT-FAMILY: "Bitstream Vera Sans", Tahoma, Helvetica, Verdana, Arial, sans-serif; TEXT-ALIGN: center
}
.textQuote {
	FONT-WEIGHT: normal; FONT-SIZE: 9px; COLOR: #000000; FONT-FAMILY: "Bitstream Vera Sans", Tahoma, Helvetica, Verdana, Arial, sans-serif; TEXT-ALIGN: center
}
.contenttable {
	BORDER-RIGHT: 2px; PADDING-RIGHT: 12px; BORDER-TOP: 2px; PADDING-LEFT: 7px; PADDING-BOTTOM: 8px; BORDER-LEFT: 2px; PADDING-TOP: 4px; BORDER-BOTTOM: 2px
}
.lightgreybackground {
	PADDING-RIGHT: 12px; PADDING-LEFT: 12px; PADDING-BOTTOM: 12px; PADDING-TOP: 12px; BACKGROUND-COLOR: #efefef
}
.mediumgreybackground {
	PADDING-RIGHT: 12px; PADDING-LEFT: 12px; PADDING-BOTTOM: 12px; PADDING-TOP: 12px; BACKGROUND-COLOR: #e2e2e2
}
.techboxgreybar {
	BACKGROUND-COLOR: #e7e7e7
}
.techboxdarkgreybar {
	BACKGROUND-COLOR: #b5b5b5
}
.techboxwhitebar {
	BACKGROUND-COLOR: #ffffff
}
