<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head profile="http://gmpg.org/xfn/11">
<title>Services</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link href="style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="main">
  <div class="header">
    <div class="logo">
      <h2>Company Name</h2>
      <div class="text">premium business templates</div>
    </div>
    <div class="menu">
      <ul>
        <li><a href="index.html">Home page</a></li>
        <li><a href="about_us.html" >About us</a></li>
        <li><a href="Services.html"  class="active">Services</a></li>
        <li><a href="#">Portfilio</a></li>
        <li><a href="Contacts_us.html">Contacts us</a></li>
      </ul>
    </div>
    <div class="clr"></div>
    <div class="header_text">
      <div><img src="images/img_1.gif" width="487" height="248" /></div>
      <h2>Services!!!</h2>
      <p>It is a long established fact that a reader will be distracted by the readable 
        content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 
        'Content here, content here', making it look like readable English. </p>
    </div>
    <div class="clr"></div>
    <div class="search">
      <form action="register.php" method="post">
        <input name="" type="text"  class="keywords" value="Search..." />
        <input name="" type="image" src="images/search.gif" />
      </form>
    </div>
    <div class="clr"></div>
  </div>
  <div class="clr"></div>
  <div class="body">
    <div class="about_body">
      <h2>What we do</h2>
      <h3>Service #1</h3>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text. </p>
      <p><img src="images/servises_1.gif" width="65" height="64" /></p>
      <p>Lorem Ipsum is simply dummy text<br />
        <br />
        Lorem Ipsum has been the industry's standard<br />
        <br />
        <a href="#">Order Now</a></p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <h3>Service #2</h3>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text. </p>
      <p><img src="images/servises_2.gif" width="66" height="63" /></p>
      <p>Lorem Ipsum is simply dummy text<br />
        <br />
        Lorem Ipsum has been the industry's standard<br />
        <br />
        <a href="#">Order Now</a></p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <h3>Service #3</h3>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text. </p>
      <p><img src="images/servises_3.gif" width="72" height="71" /></p>
      <p>Lorem Ipsum is simply dummy text<br />
        <br />
        Lorem Ipsum has been the industry's standard<br />
        <br />
        <a href="#">Order Now</a></p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
    </div>
    <div class="team">
      <h2>Sub navigation</h2>
      <ul>
        <li><a href="#">Lorem Ipsum is simply dummy text </a></li>
        <li> Lorem Ipsum has been the industry's </li>
        <li> It has survived not only five centuries </li>
        <li> It was popularised </li>
        <li> Why do we use it? </li>
        <li> It is a long established fact that a reader </li>
        <li> The point of using Lorem Ipsum </li>
      </ul>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
    </div>
    <div class="clr"></div>
  </div>
</div>
<div class="fbg">
  <div class="footer"> © Copyright 2009. Your Site Name Dot Com. All Rights Reserved<br />
    <a href="#">Home</a> | <a href="#">Contact</a> | <a href="#">RSS </a></div>
</div>
</body>
</html>