HTML {
	MARGIN-BOTTOM: 1px; VERTICAL-ALIGN: top; LINE-HEIGHT: 110%; HEIGHT: 100%
}
BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 80%; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: top; PADDING-TOP: 0px; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; HEIGHT: 100%; BACKGROUND-COLOR: #006625; TEXT-ALIGN: left
}
HR {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
IMG {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
A {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A:active {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A:visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A:hover {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
P {
	FONT-SIZE: 100%
}
DIV {
	FONT-SIZE: 100%
}
BLOCKQUOTE {
	FONT-SIZE: 100%
}
FONT {
	FONT-SIZE: 100%
}
SUB {
	FONT-SIZE: 65%
}
SUP {
	FONT-SIZE: 65%
}
TABLE {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 100%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
TBODY {
	FONT-SIZE: 100%
}
TR {
	FONT-SIZE: 100%
}
TD {
	FONT-SIZE: 100%
}
TH {
	FONT-SIZE: 100%
}
#BannerWRAPPER {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 100%; PADDING-TOP: 0px; BORDER-COLLAPSE: collapse; BACKGROUND-COLOR: #006625; BORDER-RIGHT-WIDTH: 0px
}
#BannerBOX {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 10px; DISPLAY: block; PADDING-LEFT: 10px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 10px; MARGIN: 0px; WIDTH: 780px; PADDING-TOP: 10px; BORDER-COLLAPSE: collapse; HEIGHT: 40px; TEXT-ALIGN: left; BORDER-RIGHT-WIDTH: 0px
}
#contentWRAPPER {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 100%; PADDING-TOP: 0px; BORDER-COLLAPSE: collapse; TEXT-ALIGN: left; BORDER-RIGHT-WIDTH: 0px
}
#contentBOX {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: top; WIDTH: 780px; PADDING-TOP: 0px; BORDER-COLLAPSE: collapse; TEXT-ALIGN: left; BORDER-RIGHT-WIDTH: 0px
}
#FooterWRAPPER {
	BORDER-TOP-WIDTH: 0px; CLEAR: both; PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 100%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 780px; PADDING-TOP: 0px; POSITION: relative; BORDER-COLLAPSE: collapse; TEXT-ALIGN: left; BORDER-RIGHT-WIDTH: 0px
}
#FooterBOX {
	BORDER-TOP-WIDTH: 0px; CLEAR: both; PADDING-RIGHT: 10px; DISPLAY: block; PADDING-LEFT: 10px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 85%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 10px; MARGIN: 0px; COLOR: #b3cbb3; PADDING-TOP: 10px; BORDER-COLLAPSE: collapse; TEXT-ALIGN: left; BORDER-RIGHT-WIDTH: 0px
}
#SearchWRAPPER {
	FONT-SIZE: 12px; LEFT: 472px; FONT-FAMILY: arial, verdana, helvetica; POSITION: absolute; TOP: -2px; TEXT-ALIGN: right
}
.SearchButton {
	BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 11px; MARGIN: 0px 0px 0px 10px; BORDER-LEFT: #999999 1px solid; WIDTH: 50px; COLOR: #ffffff; BORDER-BOTTOM: #999999 1px solid; FONT-FAMILY: arial, verdana, helvetica; HEIGHT: 20px; BACKGROUND-COLOR: #cc6600
}
.SearchBox {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 150px; PADDING-TOP: 0px; HEIGHT: 16px
}
.SearchAdvanced {
	FONT-SIZE: 10px; FONT-FAMILY: arial, verdana, helvetica
}
.SearchAdvanced A {
	COLOR: #b3cbb3; TEXT-DECORATION: none
}
.SearchAdvanced A:active {
	COLOR: #b3cbb3; TEXT-DECORATION: none
}
.SearchAdvanced A:visited {
	COLOR: #b3cbb3; TEXT-DECORATION: none
}
.SearchAdvanced A:hover {
	COLOR: #b3cbb3; TEXT-DECORATION: underline
}
